*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li{
	list-style: none;
}

html{
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}
a{
	text-decoration: none;
}

/* >>>>>>>>>>>>>>>>>  Generales <<<<<<<<<<<<<<<<<< */
.container{
	width: 95%;
	margin: auto;
}


/* >>>>>>>>>>>>>>>>>  Menu <<<<<<<<<<<<<<<<<< */

header{
	width: 100%;
}

